<h1>Stories</h1>
<div class="row">
  {{#each stories}}
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          {{#if owner}}
            {{{editIcon owner.id ../user.id id}}}
          {{/if}}
        </div>
        <div class="card-content center-align">
          <h5>{{title}}</h5>
          <p class="story-text">{{stripTags (truncate body 50)}}</p>
          <br>
          <div class="chip">
            <img src="{{owner.image}}">
            <a href="/stories/user/{{owner.id}}">{{owner.firstName}} {{owner.lastName}}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a class="btn grey" href="/stories/show/{{id}}">Read More</a>
        </div>
      </div>
    </div>
  {{else}}
    <h1>No Stories Found</h1>
  {{/each}}
</div>


